*{
    box-sizing: border-box;
    border:1px solid red;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    margin: 0;
    font-size: 16px;
    background: linear-gradient(#9ba9ff, #b9b5ff, #e2c6ff);
}


/* body{
    display:flex;
    justify-content: center;
} */



#floatingTexts{
    margin-left: 50px;
}




#mainPartition{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px;
    height:fit-content;
    

}



#ceremonyInfo ul {
    list-style: none;
    text-align:left;
    font-size:20px;
    margin-bottom:3px;

}

#ceremonyInfo{
    border:2px rgba(199, 199, 199, 0.884) dashed;
    margin:2px 0 2px 0;
    text-align: center;
}

#masterContainer {
    width: 100vw;
    /* max-width:1024px; */
    height: fit-content;
    background: linear-gradient(#9ba9ff, #b9b5ff, #e2c6ff);
    /* padding: 8px; */
    padding: 0px;
    /* margin: 0 10px; */
    margin:0px;
   
    
}

#firstSection {
    background-image: url('/img/invite.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 2% 20%;
    color: white;
    font-size: x-large;
    height: fit-content;
    border-radius: 3%;
    /* padding: 0 18px; */
    padding: 0px 5px;

}

#secondSection {
    border-radius: 3%;
    margin-top: 5%;
    min-height: 500px;
    text-align: center;
    /* padding: 1px 0px; */
    padding: 0px 5px;
    background: whitesmoke;
    background-image: url("/img/pics/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

#lastSection {
    border-radius: 3%;
    margin-top: 5%;
    margin-bottom: 2%;
    min-height: 500px;
    text-align: center;
    padding: 1px 0px;
    background: rgba(194, 195, 194, 0.3);
    background-image: url("/img/pics/spur.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.ourThanks {
    border-radius: 3%;
    font-size: large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;


}

.ourThanks:hover {
    transform: scale(1.01);
}


#parter {
    background-color: rgba(128, 128, 128, 0.396);
    height: 3px;
    width: 98%;
    /* margin: auto auto; */
    margin: 20px 0 20px 0;
    padding:0px;
    border-radius: 3%;
    box-shadow: 0 0 6px 2px rgb(198, 195, 195);
}

.textResponses {
    width: 350px;
    height: 200px;
    overflow-y:auto;
    background-color: rgb(206, 206, 206);
    border-radius: 6%;
    font-size: large;
    opacity: .8;
    margin: 10px 0 10px 0;
}

/* #shaeComments {
    margin-top: 2%;
    margin-bottom: 3%;
}

#joshComments {
    margin-bottom: 3%;
    margin-top:2%;
} */

img {
    width: 230px;
    height: 210px;
    border-radius: 40%;
}


#joshPic {
    transform: scaleX(-1);
}


#thirdSection {
    margin-top: 5%;
    background-image: url("/img/newFam.jpeg");
    background-size: cover;
    border-radius: 3%;
    /* padding-bottom: 1%; */
    /* padding: 0px 0px 1% 0px; */
    padding: 0px 5px;
}



.welcome-text {
    margin: 0;
    height: 100%;
    padding-bottom: 16px;
    margin-top:0px;
}



.updateTitle {
    font-style: italic;
    color: antiquewhite;
}

.updates {
    font-style: italic;
    font-size: x-large;
}

#information {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4em;
}

.invitation {
    font-style: italic;
    font-weight: bolder;
    margin: 8px 0;
    text-shadow: 0 0 5px black;
    width: fit-content;
}

#bells {
    opacity: 0;
    visibility: hidden;
    animation: bells 1s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#two {
     opacity: 0;
    visibility: hidden;
    animation: two 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#be {
    opacity: 0;
    visibility: hidden;
    animation: be 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

#year2023 {
    opacity: 0;
    visibility: hidden;
    animation: year 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

#hashTag {
    opacity: 0;
    width: fit-content;
    font-size: 36px;
    text-align: center;
    animation: hash 1.5s ease 1;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    margin:0px auto;
}


#invitedPersons {
    visibility: hidden;
    text-align: center;
    font-weight:bold;
    border: 1px solid pink;
    height: fit-content;
    border-radius: 5%;
    padding: 5px 8px;
    background: rgba(193, 97, 202, 0.685);
    text-shadow: 0 0 5px black;

}

#close {
    cursor: pointer;
    font-size: smaller;


}

#rsvp a {
    font-size: 20px;
    font-style: italic;
    text-shadow: none;
    font-weight: bolder;
    color:whitesmoke;
    
}

#rsvp a:focus{
    color:violet;
}

#rsvp {
   font-size:20px;
}


#eventTitle {
    text-decoration: underline;
    margin-top:0px;
    padding-top:0px;
    font-style:italic;
}

.furtherDetails {
    color: rgb(34, 32, 35);
    text-decoration: underline;
    text-shadow: none;
    margin-left:20px;
    font-size:20px;

}

#close:hover,
#close:focus {
    color: rgb(108, 43, 108);
}

.button {
    display: inline-block;
    color: white;
    transform: scale(.9);
    text-decoration: none;
    background: rgba(147, 103, 201, 0.246);
    margin-top:-4px;
    margin-left:-8px;
    opacity: 0;
    font-size: large;
    font-weight: bold;
    border: 2px white solid;
    border-radius: 50%;
    padding: 20px 10px;
    animation: button 1s ease-in;
    animation: flash 2s infinite alternate-reverse;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes ring {
    0% {
        opacity: 1;
        transform: rotate(0deg);
        text-decoration: underline;
    }

    33% {
        opacity: 1;
        transform: rotate(15deg);
        text-decoration: underline;
    }

    66% {
        opacity: 1;
        transform: rotate(-15deg);
        text-decoration: underline;
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
        transform: scale(1.5);
        text-decoration: underline;

    }

}



@keyframes hash {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        text-decoration: underline;
    }
}


@keyframes button {
    0% {
        opacity: .3;

    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .6;
        border-color: silver;

    }

    50% {
        opacity: .8;
        border-color: bisque;
    }

    100% {
        opacity: 1;
        border-color: white;
    }
}


@keyframes clickMe {
    0% {
        border:5px solid;
        border-color: silver;

    }

    50% {
        border:2px solid;
        border-color: rgb(170, 74, 207);
    }

    100% {
        border:5px solid;

        border-color: rgb(237, 238, 230);
    }
}

@keyframes bells {
    0% {
        visibility: hidden;
        margin-left: 0px;
        
    }

    100% {
        visibility: visible;
        opacity: 1;
        margin-left:15px;
        left: 100px
    }
}

@keyframes two {
    0% {
        visibility: hidden;
        margin-left: 0px;
    }

    100% {
        visibility: visible;
        opacity: 1;
        left: 130px;
        margin-left:33px;
    }
}

@keyframes be {
    0% {
        visibility: hidden;
        margin-left:0px;
    }

    100% {
        visibility: visible;
        opacity: 1;
        margin-left:25px;
    }
}

@keyframes year {
    0% {
        visibility: hidden;
        margin-left:0px;
    }

    100% {
        visibility: visible;
        opacity: 1;
        margin-left:12px;
    }
}


#divider {
    height: 50px;
    color: white;
    text-align: center;
    text-shadow: 0px 5px 10px black;
    text-decoration: underline;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 45px;
    padding-top: 0px;
}

#divider:hover {
    transform: scale(1.01);
}

#subContainer {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#memoryLane {
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 9rem;
}

.memoryLane {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 640px) {
    .memoryLane {
        grid-template-columns: repeat(1, 1fr);
    }

    #firstSection {
        background-image: url('/img/invite.jpeg');
        background-size:fit-content;
    }

    #floatingTexts{
        margin-left:10px;
    }

    #mainPartition{
        margin-top:15px;
        gap: 30px;
    }

    #bankInfo{
        font-size: small;
    }


}

.memory {
    padding: 12px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.memories {
    color: white;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    animation: clickMe 1.5s infinite forwards ease-in-out;
}


#friends {
    background-image: url('/img/pics/Friends.jpg');
    image-rendering: optimizeQuality;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



#fiance {
    background-image: url('/img/pics/Fiance.jpeg');
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#future {
    background-image: url('/img/pics/Future.jpg');
    image-rendering: optimizeQuality;
    background-size: cover;
    background-position: 0px 52%;
}

h3 {
    padding: 0;
    margin: 0;
    margin-top: 80%;
    text-align: center;
    visibility: hidden;
    margin-top: 80%;
    transition-property: margin, visibility;
    transition-duration: 2s;
    text-shadow: 3px 3px 2px purple;

}

#quotes {
    display: flex;
    justify-content: space-around;
    gap: 8rem;
    align-items: center;
}

.comments {
    background: rgba(216, 216, 216, 0.481);
    border-radius: 30%;
    margin-top: 16px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 8px white;
    min-height: 200px;
}


#futureComments {
    text-align: center;
}

.memories:hover h3 {
    margin-top: 3%;
    visibility: visible;
}

.memories:hover {
    transform: scale(1.01);
}



#lastSection> h2 {
    font-weight: bolder;
    font-size: x-large;
    text-shadow: 0px 5px 10px black;
    text-decoration: underline;
    color: rgb(255, 237, 237);
    padding:0px;
    margin:0px;
}

#lastSection>h2:hover {
    transform: scale(1.01);
}

#registry {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
}

#registryThanks {
    display: flex;
    /* padding: 0 .8rem 0 .8rem; */
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    width: 40%;
    height: 310px;
    border-radius: 8%;
    color: white;
    font-weight: bolder;
    font-size: large;
    text-shadow: 0 0 10px black;
    background: rgba(128, 128, 128, 0.486);
}

#registryDetails {
    margin-top: 6%;
    padding-left:1px;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 1.3em;
    font-weight: bolder;
    font-size: large;
    border-radius: 8%;
    height: 310px;
    background: rgba(128, 128, 128, 0.486);
}

#bankInfo {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.boxShadow {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

}