body {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(187, 187, 187, 0.902);
}

#master {
    width: 80%;
    height: fit-content;
 background: rgba(255, 254, 254,0); 

}

#secondSection{
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3%;
    margin-top:5%;
    min-height: 500px;
    text-align:center;
    padding:1px 0px;
}

.ourThanks{
    border-radius:3%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top:2%;    
}

#parter{
    background-color:rgba(128, 128, 128, 0.396);
    height:3px;
    width:98%;
    margin: auto auto;
    margin-top:1%;
    border-radius: 3%;
    box-shadow: 0 0 6px 2px rgb(198, 195, 195);
}

.textResponses{
    width:40%;
    height:100%;
    background-color:rgb(206, 206, 206);
    border:2px solid pink;
    padding:8% 5%;
    border-radius:6%;
    font-size:larger;
}

#shaeComments{
    margin-top:2%;
}

#joshComments{
    margin-bottom:3%;
}

img{
    width:25%;
    height:25%;
    border-radius: 40%;
}

#joshPic{
    transform: scaleX(-1);
}


#thirdSection{
    margin-top:5%;
    background-image: url("/img/newFam.jpeg");
    background-size: cover;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3%;
}


.mainContainer {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 10000px;
    background:rgba(167, 165, 165, 0.397);
    /* border: 2px dashed green; */
}

.card {
    background:black;
    display: inline-block;
    border-radius: 1%;
    /* position: absol; */
    width: 100%;
    height: 350px;
    transition: all 1s ease;
    transform-style: preserve-3d;
    /* border: 4px dashed red; */
}

#invite,
#details {
    position: absolute;
    background: rgba(230, 230, 230, 0.218);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1%;
    color: white;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#invite{
    position:relative;
    background-image: url('/img/invite.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 2% 20%;
}

#details{
    background-color: rgba(170, 95, 241, 0.375);
}

#details h1{
    position:absolute;
    top:-40px;
    left:41%;
    font-style: italic;
}

.updateTitle{
    font-style: italic;
    color:antiquewhite;
}

.updates{
    font-style:italic ;
    font-size: x-large;
}

#information{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    line-height: 3px;
}

.invitation{
    position:absolute;
    visibility:hidden;
    font-family: monospace;
    font-weight: bolder;
}

    #you{
        top:40px;
        left:0;
        opacity: 0;
        visibility: hidden;
        animation: you 6s ease;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    #are{
        top:40px;
        right:0;
        opacity: 0;
        visibility:hidden;
        animation: are 5s ease;
        animation-fill-mode: forwards;
        animation-delay: 3s;
    }
    #invited{
        top:0px;
        opacity:0;
        visibility: hidden;
        animation: invited 4s ease;
        animation-fill-mode: forwards;
        animation-delay: 5s;
        }

        button{
            position:absolute;
            font-size:large;
            font-weight: bold;
            border:none;
            border-radius: 5%;
            padding:8px 20px;
            animation: details 1s ease-in;
            animation-iteration-count:infinite;
            animation-delay: 7s;
            animation-fill-mode: forwards;
            bottom:0;
            visibility: hidden;
        }

        @keyframes details {
            0% { bottom: 0;visibility:hidden;}
            50% { bottom: 3px;visibility:visible;opacity: 1;}
            100% { bottom: 1;visibility:visible;opacity: 1;}
        }
    @keyframes you{ 
        0% { visibility: hidden;}
        100% { visibility: visible; opacity:1;left:130px}
    }
    @keyframes are{ 
        0% { visibility: hidden;}
        100% { visibility: visible; opacity:1;right:130px}
    }
    @keyframes invited{ 
        0% { visibility: hidden;top:0}
        100% { visibility: visible; opacity:1;top:2px}
    }


#divider {
    height: 50px;
    color:white;
    text-align:center;
    text-shadow: 0px 5px 10px black;
    /* font-family: 'Parisienne', cursive; */
    text-decoration: underline;
    font-size:x-large;  
    margin-top:0px;  
    margin-bottom:45px;  
    padding-top:0px;
}

#divider:hover{
    transform:scale(1.01);
}

#subContainer {
    width: 100%;
    margin-bottom:0px;
    /* border: 2px dashed rgb(6, 128, 0); */
    padding-bottom:0px;
}

#memoryLane {
    /* border: 3px dashed rgb(225, 185, 38); */
    padding: 1%;
    width: 97%;
    /* margin-bottom:0px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;

}

.memories {
    /* border: 3px green solid; */
    color: white;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border:2px violet solid;
    /* margin-bottom: -9px; */
}


#friends {
    background-image: url('/img/pics/Friends.jpg');
    image-rendering: optimizeQuality;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



#fiance {
    background-image: url('/img/pics/Fiance.jpeg');
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#future {
    background-image: url('/img/pics/Future.jpg');
    image-rendering: optimizeQuality;
    background-size: cover;
    background-position: 0px 52%;
    margin-right:-20px;
}

h3 {
    padding: 0;
    margin: 0;
    margin-top: 80%;
    text-align: center;
    visibility: hidden;
    margin-top: 80%;
    transition-property: margin, visibility;
    transition-duration: 2s;
    text-shadow: 3px 3px 2px purple;

}

#quotes{
 /* border:thick 20px blue;*/
 display:flex;
 justify-content: space-around;
 gap:6em;
 align-items: center;

}

.comments{
    background:rgba(216, 216, 216, 0.481);
    border-radius: 30%;
    position:relative;
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    text-shadow: 0 0 8px white;
    height:200px;
    border:solid 3px white;
}

.comments span{
    position:absolute;
    top:0;
    left:0;
    font-size: 80px;
    opacity: .6;   
    padding:0;
    margin: 0; 
    
}

#futureComments{
    text-align: center;
}

.memories:hover h3 {
    margin-top: 2%;
    visibility: visible;
}

.memories:hover{
    transform: scale(1.01);
    
}
