/* margin-top:30px;
 margin-left:70px;
 margin-right:70px; */

body {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("/img/newFam.jpeg"); */
    /* filter:blur(4px); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    /* filter:blur(5px);    */
}

#master {
    /* position:sticky; */
    width: 80%;
    height: fit-content;
    background-image: url("/img/newFam.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-position: 10% 0; */
    /* border: 3px solid blue; */

}



.mainContainer {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 10000px;
    /* border: 2px dashed green; */
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 350px;
    transition: all 1s ease;
    transform-style: preserve-3d;
    /* border: 4px dashed red; */
}

.mainDisplayBGC{
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
#invite,
#details {
    position: absolute;
    background: rgba(230, 230, 230, 0.218);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: white;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

button {
    position: absolute;
    bottom: 0;
    margin: 0 0 .3rem 0;
    /* border: 2px green solid; */
}


#divider {
    height: 50px;
}

#subContainer {
    width: 100%;
    margin-bottom:0px;
    /* height: fit-content; */
    border: 2px dashed rgb(6, 128, 0);
    background: rgba(230, 230, 230, 0.2);
    padding-bottom:0px;
    /* justify-content: space-around; */
}

#memoryLane {
    border: 3px dashed rgb(225, 185, 38);
    padding: 1%;
    width: 97%;
    margin-bottom:0px;
    /* height:fit-content; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;

}

.memories {
    border: 3px purple solid;
    color: white;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-bottom: -9px;
}

#friends {
    background-image: url('/img/pics/Friends.jpg');
    image-rendering: optimizeQuality;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



#fiance {
    background-image: url('/img/pics/Fiance.jpeg');
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#future {
    background-image: url('/img/pics/Future.jpg');
    image-rendering: optimizeQuality;
    background-size: cover;
    background-position: 0px 52%;
}

h3 {
    padding: 0;
    margin: 0;
    margin-top: 80%;
    text-align: center;
    visibility: hidden;
    margin-top: 80%;
    transition-property: margin, visibility;
    transition-duration: 2s;
    text-shadow: 1px 1px 10px purple;

}

#quotes{
 border:thick 3px blue;
 background: rgba(230, 230, 230, 0.2);
 display:flex;
 justify-content: space-around;
 gap:6em;
 align-items: center;

}

.comments{
    background:rgba(216, 216, 216, 0.481);
    border-radius: 30%;
    position:relative;
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    text-shadow: 0 0 8px white;
    height:200px;
    /* text-align: bottom; */
    border:solid 3px rgb(41, 207, 105);
}

.comments span{
    position:absolute;
    top:0;
    left:0;
    font-size: 80px;
    opacity: .6;   
    padding:0;
    margin: 0; 
    
}


/* .memories:hover h3{

    animation: effects 2s linear;
}

@keyframes effects{
    0% {
        visibility: hidden;
        
    }

    100%{
        visibility: visible;
        display:block;
        margin-top: 20%;
    }
} */
.memories:hover h3 {
    margin-top: 2%;
    visibility: visible;
}



